body,p{
    margin: 0;
}
.cover{
    border: 2px solid none;
    background-color: aqua;
    width: 100%;
    height: min-content;
    position: relative;

}
p{
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
    position: relative;
}
#p1{
    background-color: red;

}
#p2{
    background-color: blueviolet;
    left: 30rem;
}
#p3{
    background-color: blue;
    left: 25rem;
}
#p4{
    background-color: orange;
    left: 20rem;
}
#p5{
    background-color: grey;
}

.cover2{
    border: 2px solid none;
    background-color: rgb(0, 255, 187);
    width: 100%;
    height: min-content;
    position: relative;
    margin-top: 1rem;

}
p{
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
    position: relative;
}
#p6{
    background-color: yellow;

}
#p7{
    background-color: yellowgreen;
    left: 20rem;
}
#p8{
    background-color: purple;
    left: 25rem;
}
#p9{
    background-color: peru;
    left: 30rem;
}
#p10{
    background-color: violet;
}