html,body,section,ul{
    margin: 0px ;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
body{
    border: 2px solid none;
    background-color: rgb6(246, 247, 248);
    height: 930px;
    width: 1180px;

}
header{
    border: 1px solid rgb(217, 215, 215);
    background-color: rgb(52, 102, 96);
    height: 4rem;
    width: 100%;
    position: relative;
    top: 0px;
}
#old{
    font-size: 50px;
    color: white;
    margin: 0px;
    font-style: normal;
}
#search{
    border: 2px solid none;
    width: 350px;
    padding:7px;
    font-size: large;
    border-radius: 20px;
    position: relative;
    left: 440px;
    bottom: 50px;
    margin: 0px;

}
#profile{
    color: whitesmoke;
    position: relative;
    left: 850px;
    bottom: 110px;
    font-size: 20px;
}
#home{
    color: whitesmoke;
    position: relative;
    left: 915px;
    bottom: 152px;
    border-left: 3px solid whitesmoke;
    padding-left: 10px;
    font-size: 20px;

}
.first-layer{
    border: 2px solid none;
    background-color: rgb(217, 221, 224);
    height: 320px;
    width: 100%;
}
#li1{
    font-size: large;
    list-style-type: none;
    color:rgb(99, 95, 95) ;
}
#li11{
    color:rgb(99, 95, 95) ;
    list-style-type: none;
}
section{
    top: -22px;
}
.post{
    background-color: white;
    border: 1px solid none;
    width: 490px;
    padding: 0.5rem;
    position: relative;
    top: -342px;
    left: 370px;
    border-radius: 3px;
}
#li2{
    list-style-type: none;
    display: flex;
    color: rgb(65, 65, 191);
    position: relative;
    left: -40px;
    top: px;
}
#li2>li:nth-child(2){
    border-right: 2px solid rgb(65, 65, 191);
    border-left: 2px solid rgb(65, 65, 191);
    margin: 0 5px 0 5px;
    padding: 0 5px 0 5px;

}
textarea{
    border-radius: 5px;
}
#postbutton{
    background-color: rgb(52, 102, 96);
    padding: 4px 25px;
    border-radius: 5px;
    color: white;
    position: relative;
    left: 360px;
}
.freespace{
    border: 2px solid none;
    font-size: 20px;
    height: 490px;
    background-color: rgb(236, 241, 245);
    position: absolute;
    top: 390px;
    width: 100%;
    padding: 0px 0px  0px 30px;
}
.Rani{
    border: 2px solid none;
    width: 505px;
    height: 550px;
    position: relative;
    left: 370px;
    top: -335px;
    border-radius: 3px;
    background-color: white;
}
#min1{
    margin-top: 10px;
    margin-left: 10px;
}
span{
    color: rgb(65, 65, 191);
    
}
#pspan{
    position: relative;
    left: 50px;
    top: -55px;
}
#mini{
    position: relative;
    top: -58px;
    margin: 10px;
}
#li3{
    list-style: none;
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    position: relative;
    top: -55px;
}
#li31{
    position: relative;
    color: rgb(65, 65, 191);
    padding-right: 0.7rem;
}
#hr2{
    position: relative;
    top: -55px;
    width: 95%;
}
#pspan2{
    position: relative;
    top: -55px;
    left: 10px;
}
#min1{
    position: relative;
    top: -60px;
}
#input2{
    position: relative;
    top: -70px;
    margin-left: 10px;
}
.yourpage{
    border: 2px solid none;
    border-radius: 3px;
    background-color: white;
    width: 200px;
    height: 380px;
    position: relative;
    top: -1127px;
    left: 905px;
    padding: 0px 10px 0px 10px;
}
.grey{
    color: grey;
}
.grey1{
    position: relative;
    top: 12px;
} 
#black1{
    position: relative;
    top: 20px;
}
#write-a-post{
    position: relative;
    right: -100px;
    top: -20px;
    background-color: rgb(52, 102, 96);
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
}
#hr32{
    position: relative;
    top: -20px;
}
.grey2{
    position: relative;
    top: -30px;
}
#black2{
    position: relative;
    top: -10px;
    font-size: 15px;
}
#hr33{
    position: relative;
    top: -20px;
}
.grey3{
    position: relative;
    top: -30px;
}
#black3{
    position: relative;
    top: -10px;
    font-size: 15px;
}
#hr34{
    position: relative;
    top: -20px;
}
.grey4{
    position: relative;
    top: -30px;
}
#black4{
    position: relative;
    top: -10px;
    font-size: 15px;
}
.yourpage2{
    border: 2px solid none;
    border-radius: 3px;
    background-color: white;
    width: 200px;
    height: 380px;
    position: relative;
    top: -1130px;
    left: 905px;
    padding: 0px 10px 0px 10px;
}
#hr41{
    position: relative;
    top: 15px;
}
.grey5{
    font-size: large;
}
#black5{
    position: relative;
    top: 35px;
}
#hr42{
    position: relative;
    top: 22px;
}
.grey6{
    font-size: large;
    position: relative;
    top: 10px;
}
#black6{
    position: relative;
    top: 35px;
}
#hr43{
    position: relative;
    top: 22px;
}
.grey7{
    font-size: large;
    position: relative;
    top: 10px;
}
#black7{
    position: relative;
    top: 35px;
}
#hr44{
    position: relative;
    top: 22px;
}