  *{
    margin: 0px;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }
  .row{
    border: 1px solid grey;
    width: 100%;
    float: left;
    position: relative;
    height: min-content;
  }
  .col-lg-12{
    border: 1px solid grey;
    background-color: #350D36;
    width: 100%;
    height: 45px;
  }
#nav{
    display: flex;
    list-style: none;
    margin-left: 178px;
    padding-top: 3px;
}
#nav>li{
    border: 1px solid none;
    margin-right: 10px;
    height:35px;
}
#nav>li:nth-child(1){
  padding-top: 5px;
}
#nav>li:nth-child(2){
  border: 1px solid none;
  padding-right: 20px;
  width: 692px;
  margin-right:257px ;
  color: white;
}
#nav>li:nth-child(3){
  border: 2px solid none;
  padding-bottom: 0px;
  margin-right: 3px;
  position: relative;
  left: 25px;
  top: 0px;
}
#nav>li:nth-child(4){
  border: 2px solid none;
  padding-top: 0px;
  margin-right: -5px;
  position: relative;
  left: 25px;
  top: 0px;
}
#nav>li:nth-child(5){
  border: 2px solid none;
  padding-top: 0px;
  margin-right: -5px;
  position: relative;
  left: -375px;
  top: 8px;
}
#nav>li:nth-child(6){
  border: 2px solid none;
  padding-top: 0px;
  margin-right: -5px;
  position: relative;
  left: -370px;
  top:8px;
}
#search{
    width: 100%;
    color: white;
    background-color:#644565;
    border-radius: 3px;
    border: 1px solid grey;
    height: 25px;
    margin-top: 5px;
    margin-left: 3px;
}
  .col-lg-3{
    background-color:#3F0E40;
    width: 20%;
    height: 600px;
  }
  .rad5{
    border-bottom: 1px solid rgb(120, 118, 118);
    padding: px;

  }
  .rad5>h3{
    border: 2px solid none;
    color: white;
    margin: 0px 10px 5px 12px;
    padding-right:0px;
    display: inline-block;
    margin-right: 0px;
    font-weight: bold;
    position: relative;
    top: -12px;
  }
  #rad5img1{
    border: 2px solid none;
    position: relative;
    top: -11px;
    left: -4px;
  }
  #rad5img2{
    border: 2px solid none;
    position: relative;
    left: 32px;
    top: 7px;
    margin-bottom: 5px;
  }
  .thread1{
    border-bottom: 1px solid rgb(120, 118, 118);
    padding: 10px 0px 5px 0px;
  }

  .thread1>ul>li{
    border: 2px solid none;
    padding: 3px 0px 3px 0px;
    color: rgb(221, 213, 213);
    list-style: none;
    margin-left: -30px;
  }
  .thread1>ul>li:nth-child(1){
    color: white;
  }
  #threadsimg1{
    position: relative;
    top: 3px;
    margin-right: 5px;
  }
  #threadsimg2{
    position: relative;
    top: 3px;
    margin-right: 5px;
  }
  .channels{
    border-bottom: 1px solid rgb(120, 118, 118);
    padding: 3px 0px 3px 0px;
  }
  .channels>ul>li{
    border: 2px solid none;
    padding: 2px;
    color: rgb(221, 213, 213);
    list-style: none;
    position: relative;
    left: -30px;
  }
  .channels>ul>li:nth-child(2){
    background-color: #1164A3;
    margin-left: -40px;
    padding-left: 40px;
    width: 400px;
  }
  .channelsfooter{
    color: white;
    display: flex;
    padding: 10px;

  }
  .channelsfooter>p{
    color: rgb(205, 196, 196);
    padding-left: 0px;
    padding-right: 60px;
    position: relative;
    top: -10px;
    font-size: 15px;
  }
  #channelsfooterimg1{
    position: relative;
    top: 5px;
  }
  /*  */
  .col-lg-9{
    background-color: white;
    width: 85%;
    height: 600px;
    position: relative;
    top: -600px;
    left: 252px;
  }
  .bootcamp{
    background-color: white;
    border: 1px solid grey;
    width: 70%;
    height: 600px;

  }
  .stul{
    border-bottom: 1px solid rgb(120, 118, 118);
    display: flex;
    list-style: none;
    padding: 9px 0px 8px 30px;
  }
  .stul>li:nth-child(1){
    background-color: none;
    margin-right: 370px;
    margin-left: -15px;
    margin-top: 5px;
    padding-top: -15px;
    display: flex;
  }
  #stulh3{
    padding-top: 10px;
  }

  .stul>li>ul{
    list-style: none;
    padding: 1px;
    display: flex;
    border: 1px solid rgb(120, 118, 118);
    border-radius: 3px;
  }
  .stul>li>ul>li{
    padding: 1px;
  }
  .customresponse{
    background-color: #F3FAFD;
    margin-top: 10px;
    height: 158px;
  }
  #customimage, .customp,.helop{
    list-style: none;
    display: inline-block;
    border: 2px solid none;
  }
  .customresponse>ul{
    border: 2px solid none;
    list-style: none;
  }
  .customresponse>ul>li{
    border: 2px solid none;
    margin-left:-25px ;
    position: relative;
  }
  .customresponse>ul>li:nth-child(1){
    padding-left: 20px;
    padding-top: 10px;
  }
  .customresponse>ul>li:nth-child(3){
    padding-left: 20px;
    padding-top: 10px;
  }
  .customp1{
    padding-left: 30px;
    border: 2px dotted none;
    color: grey;
    display: inline-block ;
    position: relative;
    top: -7px;
    left: -30px;
  }
  .customp{
    position: relative;
    top: -5px;
  }
  .date{
    border: 1px solid grey;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 15px;
    font-size:10px;
    position: relative;
    top: -158Px;
    left: 270px;
  }
  /*  */
  .chine{
    border: 2px solid none;
    list-style: none;
    font-size: 15px; 
    line-height: 20px;
    margin: 2px;
  }
  .chine>ul>li{
    border: 2px solid none;
    list-style: none;
    display: flex;
    margin-left: -28px;
    padding-top: 5px;
    
  }
  #chineimage1{
    border: 2px solid none;
    margin-right: 5px;
  }
  .chinep1{
    border: 2px solid none;
    margin-left: 2px;
  }
  
  .chinep1>p:nth-child(1){
    border: 2px solid none;
    font-weight: bold;
  }
  .subchine{
    border: 2px solid none;
    display: flex;
  }
  #chineimage11{
    border-radius: 2px;
    margin: 1px 4px 1px 0px;
  }
  .grey{
    color: grey;
  }
  .mini-index{
    border: 1px solid grey;
    color: grey;
    border-radius: 7px;
    width: 77.5%;
    height: 77px;
    position: relative;
    top: 20px;
    left: 63px;

  }
  .mini-index>p{
    border: 2px solid none;
    color: grey;
    width: 70px;
    height: 20px;
    position: relative;
    top: -22px;
    left: -1px;
  }
  #ul-one{
    border: 1px solid grey;
    border-top-left-radius: 7px;
    color: grey;
    background-color: rgba(128, 128, 128, 0.1);
    display: inline-block;
    list-style: none;
    padding-left: 20px;
    padding-right: 4px;
    padding-top: 5px;
    position: relative;
    top: -21px;
    left: -1px;
  }
  #ul-two{
    border: 2px solid none;
    display: inline-block;
    list-style: none;
    font-size: 13px;
    padding-left: 5px;
    position: relative;
    top: -42px;
  }
  /*  */
  .mega-index{
    border: 1px solid grey;
    border-radius: 7px;
    background-color: white;
    color: grey;
    width: 83.9%;
    height: 88px;
    position: relative;
    top: 0px;
    left: 15px;
  }
  .mega-ul1{
    border: 1px solid grey;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    list-style: none;
    display: flex;
    padding-top: 8px;
    padding-left: 5px;
    width: 628.5px;
    height: 38px;
    margin: 0px;
    position: relative;
    top: -1px;
    left: -1px;
    background-color: rgba(128, 128, 128, 0.1);
  }
  .mega-ul1 li{
    padding-right: 15px;
  }
  .mega-ul1 li:nth-child(4){
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 18px;
    position: relative;
    top: px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: -5px;
  }
  .mega-ul1 li:nth-child(7){
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 18px;
    position: relative;
    top: px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: -5px;
  }
  .mega-index input{
    height: 32px;
    width: 628.5px;
    color: grey;
    border: 0.1px solid grey;
    border-radius: 0px;
    margin: -2px 2px 0px -1px;
    padding-left: 10px;
    padding-top: 10px;
    
  }
  .mega-ul2{
    border: 1px solid grey;
    border-top: none;
    color: grey;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    list-style: none;
    display: flex;
    padding-top: 10px;
    padding-left: 5px;
    width: 628.5px;
    height: 40px;
    margin: 0px;
    position: relative;
    top: -1px;
    left: -1px;
    background-color: white;
  }
  .mega-ul2 li{
    border: 2px solid none;
    padding: 5px;
  }
  .mega-ul2 li:nth-child(1){
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 100%;
    padding: 0.5px 3px;
    margin-bottom: 7px;margin-top: 5px;
    margin-right: 5px;
  }
  .mega-ul2 li:nth-child(2){
    border-left: 1px solid grey;
    height: 15px;
    padding-top: 0px;
    margin-top: 6px;
  }
  .mega-ul2 li:nth-child(3){
    border-right: 1px solid grey;
    padding: 0px;
    padding-right: 5px;
    margin-right: 5px;
    height: 18px;
    margin-top: 5px;
  }
  .mega-ul2 li:nth-child(7){
    border-right: 1px solid grey;
    padding: 0px;
    padding-right: 5px;
    margin-right: 5px;
    height: 17px;
    margin-top: 5px;
    position: relative;
    left: 400px;
  }
  .mega-ul2 li:nth-child(8){
    position: relative;
    left: 390px;
  }
  /*  */
  .thread{
    background-color: white;
    border: 1px solid grey;
    width: 47.2%;
    height: 600px;
    position: relative;
    top: -508.5px;
    left: 660px;
  }
  .threadbootcamp{
    border-bottom: 1PX SOLID grey;
    display: flex;
    height: 57px;
    padding-top: 12px;
  }
  .threadbootcamp>ul{
    border: 2PX SOLID none;
    list-style: none;
    display: flex;
    width: 340px;
    padding-left: 0px;
  }
  .threadbootcamp>ul>li{
    border: 2PX SOLID none;
    padding-right: 5px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .threadbootcamp>ul>li:nth-child(2){
    border: 2px solid none;
    margin-top: -3px;
    margin-right: 47px;
    padding-left: 0px;
  }
  .threadbootcamp>ul>li:nth-child(3){
    border: 2px solid none;
    position: relative;
    left: 13px;
  }
  #smallbootcamp{
    border: 2px solid none;
    position: relative;
    top: -5px;
  }
  .threadbootcamp>ul>li:nth-child(3){
    border: 2PX SOLID none;
    padding-right: 0px;
    margin-left:85px ;
  }
  .replies{
    display: flex;
    margin: 10px;
  }
.blank{
  border-bottom: 1px solid grey;
  width: 270px;
  position: relative;
  top: -5px;
  left: 10px;
}
.reply1{
  border: 2px solid none;
  display: flex;
  padding-left: 13px;
  margin-bottom: 10px;
}
#reply11{
  border: 2px solid none;
  margin-left: -5px;
}
.chibuike{
  border: 2px solid none;
  margin-left: 5px;
}
#bonaventure{
  border-radius: 5px;
}
.reply1>#bonaventure{
  margin-right:5px;
}
.reply2{
  border: 1px solid gray;
  border-radius: 7px;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  width: 80%;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: smaller;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*  */

.mega-box{
  border: 1px solid grey;
  border-radius: 7px;
  background-color: white;
  color: #F8F8F8;
  width: 91.2%;
  height: 108px;
  position: relative;
  top: 6px;
  left: 15px;
}
.replybox1{
  border: 0px solid grey;
  border-bottom:  solid none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  list-style: none;
  display: flex;
  padding-top: 10px;
  padding-left: 5px;
  width: 263px;
  height: 40px;
  margin: 0px;
  position: relative;
  top: -1px;
  left: -1px;
  background-color: rgba(128, 128, 128, 0.1);
}
.replybox1 li{
  padding-right: 5px;
}
.replybox1 li:nth-child(4){
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  height: 18px;
  position: relative;
  top: px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-left: -5px;
}
.replybox1 li:nth-child(7){
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  height: 18px;
  position: relative;
  top: px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-left: -5px;
}
.mega-box input{
  height: 40px;
  width: 263px;
  color: grey;
  border: 0.1px solid grey;
  border-top: 2px solid none;
  border-radius: 0px;
  margin: -2px 2px 0px -1px;
  padding-left: 10px;
  padding-top:5px;
  
}
.replybox2 {
  border: 1px solid grey;
  border-top: none;
  color: grey;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  list-style: none;
  display: flex;
  padding-top: -2px;
  padding-left: 5px;
  width: 263px;
  height: 30px;
  margin: 0px;
  position: relative;
  top: -1px;
  left: -1px;
  background-color: white;
}
.replybox2 li{
  border: 2px solid none;
  padding: 2px;
}
.replybox2 li:nth-child(1){
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 100%;
  padding: 0.5px 3px;
  padding-left: 5px;
  margin-bottom: 7px;margin-top: 5px;
  margin-right: 5px;
}
.replybox2 li:nth-child(2){
  border-left: 1px solid grey;
  height: 15px;
  padding-top: 0px;
  margin-top: 6px;
}
.replybox2 li:nth-child(3){
  border-right: 1px solid grey;
  padding: 0px;
  padding-right: 5px;
  margin-right: 5px;
  height: 18px;
  margin-top: 5px;
}
.replybox2 li:nth-child(7){
  border-right: 1px solid grey;
  padding: 0px;
  padding-right: 5px;
  margin-right: 5px;
  height: 17px;
  margin-top: 5px;
  position: relative;
  left: 400px;
}
.replybox2 li:nth-child(8){
  position: relative;
  left: 390px;
}

/*  */
.checkbox{
  border: 2px solid none;
  padding-left: 23px;
  margin-top: 20px;
  font-size: 15px;
}
.alsosend{
  border: 2px solid none;
  display: inline-block;
  margin-left: 5px;
}






















  nav{
    border: 2px solid black;
  }