body{
    color: #fffcdd;
}
ul,li{
    list-style: none;
    color: #f0f0f0;
}
a{
    text-decoration: none;
    color: #fffcdd;
}
a:hover{
    border: 2px solid none;
    color: #fffcdd;  
}
.nav-container{
    background-color: #07294D;
}
.nav-container ul li{
    display: inline-block;
}
.nav-container>ul>li:nth-child(6){
    background-color: #c50227;
}
hr{
    color: #fffcdd;
}
#navbarNavDropdown{

}
.navbar{
    background-color: #07294D;
    margin: 0px;
}
.dropdown-item{
    padding-left:20px ;
    padding-right:40px ;
}
.dropdown-menu{
    border-radius: 0px;
}
.card{
    border:none;
    border-radius: 0px;
    margin: auto;
    background-color: white;
}
.c-heaer1{
    border: 2px solid none;
    border-top-right-radius: 0px;
    background-color: #c50227;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;

}
.card-body{
    color: grey;
    background-color: white;
}
.link1{
    color: #c50227;
}
.link1:hover{
    background-color: #07294D;
    padding: 10px;
}
.link2{
    color: #07294D;
}
.link2:hover{
    color: #c50227;
}
.c-header2{
    border-bottom: 3.5px solid red;
    color: #212052;
    padding: 20px 0px 20px 0px;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 40px;
}
#link3{
    color: #c50227;
}
#link3:hover{
    color: rgb(228, 245, 171)128, 128, 128);
}
